div.line-pack(data-id=starting_id)
  div.line-editbar
    span.item
      svg.icon-plus-cross(width=18, height=18, style="opacity:0.6")
        g(fill="none", fill-rule="evenodd")
          path(d="M0 0h18v18H0", stroke-width="2px")
          path(stroke="#FFF", d="M4.5 4.5l9 9", stroke-linecap="round", stroke-width="2px")
          path(stroke="#FFF", d="M13.5 4.5l-9 9", stroke-linecap="round", stroke-width="2px")
    span.item
      svg.icon-edit(width=18, height=18)
        path(fill="#737F8D", fill-rule="evenodd", d="M3 14v-2.5l7.88-7.85c.19-.2.51-.2.71 0l1.76 1.76c.2.2.2.51 0 .71L5.47 14H3zm12 0H7.5l2-2H15v2z")
    span.item(display="display: none; text-align: center; width: 30px; vertical-align: middle; line-height: 23.5px; color: #d1d1d1;")
      span.icon-edit-len LEN

  div.line-pack-header= title

  div.line-pack-stickers
    - for (let id = starting_id; id <= starting_id + length; id++)
      div.emote-container
        img.emote-icon(src="https://sdl-stickershop.line.naver.jp/stickershop/v1/sticker/" + id + "/android/sticker.png;compress=true")
